$site-green: rgba(30, 109, 50, 0.75);
$site-bg: #282c34;
$site-text-color: white;

.Main {
  text-align: center;
  background-color: $site-bg;
  min-height: 100vh;
  color: $site-green;
}

.Site-logo {
  height: 15vmin;
  pointer-events: none;
}


.Head {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Body {
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
}

.Centered {
  align-self: center;
}

.Floored {
  align-self: flex-end;
}

hr.style-two {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $site-green, rgba(0, 0, 0, 0));
}




.bc{
  display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: none;
    border-radius: 0.25rem;
}

.bc-item{
  a:hover{
    text-decoration: none;
  }
  a{
    text-decoration: none;
  }
}



@import "~bootstrap/scss/bootstrap";
